certifi==2025.1.31
Django==1.11.29
gevent==22.10.2
greenlet==2.0.2
gunicorn==21.2.0
importlib-metadata==4.8.3
packaging==21.3
pyparsing==3.1.4
pytz==2025.2
sentry-sdk==2.26.1
typing-extensions==4.1.1
urllib3==1.26.20
zipp==3.6.0
zope.event==4.6
zope.interface==5.5.2
